# Builds than main branch, and then deploys SNAPSHOT versions to GitHub Packages
name: Build main

on:
  push:
    branches:
      - main

jobs:
  build_main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: ${{ vars.DEFAULT_JAVA_DISTRIBUTION }}
          java-version: ${{ vars.DEFAULT_JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build and Publish SNAPSHOT
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}

        run: ./gradlew build publishToMavenCentral --no-configuration-cache
